.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary-background);
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.label1 {
  font-size: 1.5em;
  font-weight: 600;
  margin: 1em 3em;
}

.backButton {
  background-color: #cb3cff;
  border: 1px solid var(--primary-border);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  width: 12em;
  margin: 0 3em;
}

.content {
  display: flex;
  margin-top: 1em;
}

.label2 {
  margin: 1em 2em;
  justify-content: start;
  font-size: 1.7em;
}

.sidebarItem {
  margin-left: 3em;
  padding: 1em;
  cursor: pointer;
  color: var(--sidebar-text-inactive);
}

.sidebarItem.active {
  background-color: var(--sidebar-background-active);
  border-radius: 5px;
  color: var(--white);
}

.formSection {
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--primary-border);
  flex: 1;
  margin-left: 2em;
  padding: 0em 4em;
  width: fit-content;
}

h2 {
  color: var(--text-primary);
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  padding-bottom: 1em;
}

.add-user-form{
  background-color: var(--form-background);
  border-radius: 10px;
  border: 1px solid var(--primary-border);
  padding: 2em;
  /* width: fit-content; */
}

.formFields {
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
  color: var(--text-primary);
  font-weight: 500;
}

.formGroup input {
  width: 20em;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 4px;
  font-size: 14px;
  color: var(--text-primary);
}

.formGroup input:focus {
  outline: none;
  border-color: var(--primary);
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 30px;
}

.btnPrimary {
  padding: 8px 16px;
  background-color: #cb3cff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 10em;
  transition: background-color 0.3s;
}

.inputError {
  border-color: var(--error) !important;
}

.errorMessage {
  color: var(--error);
  font-size: 12px;
  margin-top: 4px;
} 